@model CatalogCar


<form asp-action="AddToBasket" asp-controller="Basket" method="post">
    <a href="@Url.Action("CatalogCar", "Catalog", @Model)">
        <img class="esh-catalog-thumbnail" src="@Model.PictureUrl" />
    </a>

    <div class="esh-catalog-name">
        <span>@Model.Model</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Price.ToString("N2")</span>
    </div>
    <div>
        <span>Quantity: @Model.Quantity.ToString()</span>
    </div>
    <input type="hidden" asp-for="@Model.Id" name="Id" />
    <input type="hidden" asp-for="@Model.Model" name="Model" />
    <input type="hidden" asp-for="@Model.Year" name="Year" />
    <input type="hidden" asp-for="@Model.Transmission" name="Transmission" />
    <input type="hidden" asp-for="@Model.Price" name="Price" />
    <input type="hidden" asp-for="@Model.Description" name="Description" />
    <input type="hidden" asp-for="@Model.PictureUrl" name="PictureUrl" />
    <input type="hidden" asp-for="@Model.EngineDisplacement" name="EngineDisplacement" />
    <input type="hidden" asp-for="@Model.Quantity" name="Quantity" />
    <input type="hidden" asp-for="@Model.CatalogManufacturer" name="CatalogManufacturer" />
    <button type="submit" class="btn btn-outline-success" style="margin-top: 10px;" >Add to Cart</button>
</form>
    