@model MVC.ViewModels.BasketViewModels.BasketIndexViewModel

@if (Model.CatalogBasketCars.Count() > 0)
{
    <h2 style="text-align: center;">Your basket</h2>

    <table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th class="text-center">Quantity</th>
            <th class="text-center">Model</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
         @foreach (var catalogCar in Model.CatalogBasketCars)
         {
             <form asp-action="RemoveFromBasket" asp-controller="Basket" method="post">
                  <input type="hidden" asp-for="@catalogCar.Id" name="Id" />
                  <input type="hidden" asp-for="@catalogCar.Model" name="Model" />
                  <input type="hidden" asp-for="@catalogCar.Price" name="Price" />
                  <input type="hidden" asp-for="@catalogCar.Quantity" name="Quantity" />
                   <tr>
                        <td class="text-center">@catalogCar.Quantity</td>
                        <td class="text-center">@catalogCar.Model</td>
                        <td class="text-right">$@catalogCar.Price</td>
                        <td class="text-right">
                            $@((catalogCar.Quantity * catalogCar.Price))
                        </td>
                        <td class="text-center">
                            <button type="submit" class="btn btn-outline-danger" style="text-align: center;">Remove</button>
                        </td>
                    </tr>
             </form>
         }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                $@Model.Total
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <form asp-action="PlaceOrder" asp-controller="Order" method="post">
            <button type="submit" class="btn btn-success">Place an order</button>
    </form>
    </div>
}
else
{
    <h2 style="text-align: center;">Basket is empty</h2>
}




@*<div class="container">
    <div class="row">
        <br />
        @if(ViewBag.BasketInoperativeMsg != null)
        {
        <div class="alert alert-warning" role="alert">
            &nbsp;@ViewBag.BasketInoperativeMsg
        </div>
        }
    </div>

    @if (Model.CatalogBasketCars.Count() > 0)
    {

    <div class="esh-catalog-items row">
        @foreach (var catalogCar in Model.CatalogBasketCars)
            {
        <div class="esh-catalog-item col-md-4">
            <partial name="_cars" model="catalogCar" />
        </div>
            }
    </div>
    <div>
        <h2>Total: @Model.Total.ToString("C")</h2>
    </div>
    <div>
        <form asp-action="PlaceOrder" asp-controller="Order" method="post">
            <button type="submit">Place an order</button>
        </form>
    </div>

    }
    else
    {
    <div class="esh-catalog-items row">
        THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
    </div>
    }
</div>*@